[submodule "conduit"]
	path = conduit
	url = https://github.com/functionalperez/conduit.git
[submodule "cppcoro"]
	path = cppcoro
	url = https://github.com/lewissbaker/cppcoro.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
